/* USE CSS LAYOUTS HERE */
* {
    margin: 1px;
    padding: 1px;
    border-radius: 1px;
    border-color: crimson;
}
html, body {
    height: 50%;
   

}


.header {
    background-color: rgb(14, 172, 106);
    border: rgb(28, 187, 108);
    color: aqua;
    min-height: 100%;
    text-transform: none;
    
   
}

.main {
    background-color: rgb(0, 255, 242);
    font-size: medium;
    overflow: auto;
    padding-bottom: 100%;
    


}

.footer-grid {
    background-color: rgb(18, 212, 148);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    height: auto;
    margin: auto;
    position: relative;
    clear: both;

}

.footer-flex {
    background-color: cornflowerblue;
    display: flex;
    color: rgb(39, 41, 38);
    height: auto;
    justify-content: space-around;
    list-style-type: initial;
}
